<div class="content h100">
   
<h1>Collect and sell super rare <span class="surligner">NFTs</span></h1>
<p>
A market place for people to buy and sell unique, single-edition digital artwork from over 5 000 artists.
</p>
<div class="flex-btw p80 align container-people">
    <div class="people">
        <img class="blueclbg" src="/assets/memoji/memoji2.png" />
        <img class="bluebg" src="/assets/memoji/memoji1.png" />
        <img class="movebg" src="/assets/memoji/memoji3.png" />
    </div>
    <img class="arrow" src="/assets/memoji/arrow.png" />
    <btn titre="Explore MarketPlace" color="yellow"></btn>
</div>
<footer class="flex-btw">
    <div class="info">
        <p><strong>5K+</strong></p>
        <p>Creators</p>
    </div>
    <div class="info">
        <p><strong>47K+</strong></p>
        <p>Artwork</p>
    </div>
    <div class="info">
        <p><strong>60K+</strong></p>
        <p>Active Users</p>
    </div>
</footer>
</div>
<div class="nft-content">
  
    <card-nft></card-nft>
</div>